.wrapper {
    background-color: #fff;
    color: var(--text_color);
    padding: 10px 30px 30px 30px;
    display: flex;
}
@media (min-width: 768px) {
    .wrapper {  
        border-radius: 10px;
        margin: 0 2rem;
    }
}

.privacy_policy, .terms_of_service {
    width: 50%;
    padding: 30px;
    padding-top: 10px;
}

/*768px以下の時のスタイル*/
@media (max-width: 768px) {
    .wrapper {
        display: block;
    }
    
    .privacy_policy, .terms_of_service {
        width: 100%;
    }
}