.privacy_policy, .terms_of_service {
    width: 50%;
    padding: 30px;
    padding-top: 10px;
}

/*768px以下の時のスタイル*/
@media (max-width: 768px) {
    .wrapper {
        display: block;
    }
    
    .privacy_policy, .terms_of_service {
        width: 100%;
    }
}