/*メイン部分のスタイル*/
.main {
    display: flex;
}

.maincontent {
    width: 70%;
    margin-top: calc(var(--header_height) + 20px);
}

.right_side_margin {
    width: 30%;
}

/*目次のスタイル*/
.index {
    margin: 20px auto;
    padding-bottom: 20px;
    background-color: var(--blog_hover_color);
    text-align: center;
    border: 1px solid #333;
    border-radius: 10px;
    width: 60%;
}

.index_title {
    text-decoration: underline;
}

.index_list {
    margin: 0 auto;
    padding: 0;
    list-style-position: inside;
    width: fit-content;
}

.index_list li {
    text-align: left;
    margin-top: 5px;
}

.index_list a {
    color: #333;
}
.index_list a:hover {
    opacity: .7;
}

.min_footer {
    display: block;
}

.max_footer {
    display: none;
}

/*768以下のスタイルの設定*/
@media (max-width: 768px) {
    .main {
        display: block;
        font-size: 1.25rem;
    }

    .maincontent {
        width: 100%;
        margin-top: calc(var(--mini_header_height) + 20px);
    }

    .min_footer {
        display: none;
    }

    .max_footer {
        display: block;
    }
}