/*ブログのスタイル*/
.article {
    background-color: #fff;
    color: var(--text_color);
    padding-top: 10px;
    padding-bottom: 40px;
}
@media (min-width: 768px) {
    .article {
        border-radius: 10px;
        margin: 20px;
    }
}

.blog_title {
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}

.place, .blog_date {
    margin: 0 auto;
    padding: 0 auto;
    margin-right: 10px;
    text-align: right;
}

.blog_image {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.blog_img {
    max-width: 300px;
    max-height: 500px;
}

.blog_doc {
    margin: 0 2.8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sub_title {
    margin-bottom: 0;
    padding-bottom: 0;
}

.blog_doc hr {
    margin: 0 auto;
    padding: 0 auto;
}

.blog_doc img {
    max-width: 300px;
    margin: 10px;
}
