/*ガイダンス*/
.guidance {
    position: relative;
    height: 1.5rem;
    margin: 10px 0;
}

.guidance a {
    color: var(--color-one);
    text-decoration: underline;
}
.guidance a:hover {
    color: var(--color-three);
}

.prev_blog {
    position: absolute;
    left: 5%;
}

.blog_top {
    position: absolute;
    right: 46%;
}

.next_blog {
    position: absolute;
    right: 5%;
}

/* リンクがない際のスタイル */
.disabled_link {
    color: #ccc;
    text-decoration: none;
}

@media (max-width: 768px) {
    .blog_top {
        display: none;
    }
}